  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
  @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

  body {
    background: white;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 70px 0;
  }

  .chatbar {
    background: tomato;
    border-top: 1px solid black;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
  }

  .chatbar-message,
  .chatbar-username {
    border: 1px solid black;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    padding: 0 9px;
  }

  .chatbar-message {
    flex: 8;
  }

  .chatbar-username {
    flex: 2;
  }

  .message {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
  }

  .message-images {
    display: flex;
    flex-flow: row wrap;
    padding-left: 15%;

    img {
      max-width: 60%;
      margin: 0px 10px 0px 10px;
    }
  }

  .message.system {
    font-style: italic;
    padding: 5px 20px;
  }

  .message-content,
  .message-username {
    overflow: hidden;
    margin: 5px;
    padding: 0 10px;
  }

  .message-username.color-id- {
    &0 {
      color: #25514c;
      // background-color: invert(#25514c);
    }
    &1 {
      color: #a9bd58;
      // background-color: invert(#a9bd58);
    }
    &2 {
      color: #ecab1e;
      // background-color: invert(#ecab1e);
    }
    &3 {
      color: #ef5c1e;
      // background-color: invert(#ef5c1e);
    }
    &4 {
      color: #c72627;
      // background-color: invert(#c72627);
    }

  }

  .message-content {
    flex: 8;
  }

  .message-username {
    flex: 2;
    font-weight: 700;
  }

  .navbar {
    background: tomato;
    border-bottom: 1px solid black;
    height: 60px;
    left: 0;
    padding: 0 10px;
    position: fixed;
    right: 0;
    top: 0;
    // display: flex;
  }

  .navbar-brand {
    color: inherit;
    display: block;
    float: left;
    font-weight: 700;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none;
  }

  .navbar .user-count {
    float: right;
    display: block;
    color: inherit;
    font-weight: 700;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
  }
