@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
  @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

  $user-colors: #19435a #d86822 #ef422d #18916d #3E090D;

  $primary-color: #8FD4DA;
  $primary-contrast: #FEFCFA;
  $primary-text-contrast: #FEFCFA;
  $input-highlight: #3E090D;

  $bar-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

  body {
    background: $primary-contrast;
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    margin: 70px 0;
  }

  .chatbar {
    background: $primary-color;
    border-top: 1px solid black;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 5px;
    position: fixed;
    right: 0;
    box-shadow: $bar-box-shadow;
    
  }

  .chatbar-message,
  .chatbar-username {
    border: 1px solid black;
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    padding: 0 9px;
    transition: all 0.20s ease-in-out;
    outline: none;

    &:focus {
      box-shadow: 0px 0px 2px 0px $input-highlight;;
    }
  }

  .chatbar-message {
    flex: 8;
  }

  .chatbar-username {
    flex: 2;
  }

  .message {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
  }

  .message-divider {
    border-bottom: 1px solid #eeeeee;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: darken($primary-contrast, 7%);
    }
  }



  .message-images {
    display: flex;
    flex-flow: row wrap;
    padding-left: 15%;

    div {
      max-width: 70.5%;
    }

    img {
      width: 100%;
      height: auto;
      margin: 0px 10px 0px 10px;
    }
  }

  .message.system {
    font-style: italic;
    padding: 5px 20px;
  }

  .message-content,
  .message-username {
    overflow: hidden;
    margin: 5px;
    padding: 3px 10px;
    border-radius: 0px 5px 15px 5px;

  }

  .message-username {
    color: #F5EEDC;
  }

  .message-username.color-id {

    @for $i from 1 through length($user-colors){
      &-#{$i - 1} {
        background-color: nth($user-colors, $i);
      }
    }

  }

  .message-content {
    flex: 8;
  }

  .message-username {
    flex: 2;
    font-weight: 700;
  }

  .navbar {
    background: $primary-color;
    border-bottom: 1px solid black;
    height: 60px;
    left: 0;
    padding: 0 10px;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: $bar-box-shadow;
  }

  .navbar-brand {
    color: inherit;
    display: block;
    float: left;
    font-weight: 700;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    text-decoration: none;
  }

  .navbar .user-count {
    float: right;
    display: block;
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    height: 60px;
    line-height: 60px;

  }
